@import "tailwindcss";
@plugin "daisyui";


.frontpage-bg { 
  background-image: url('/bg.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@layer components {
  .text-large {
    @apply font-sans text-5xl md:text-4xl font-bold tracking-tight text-slate-800;
  }

  .text-medium {
    @apply font-sans text-base font-semibold leading-relaxed text-slate-600;
  }

  .text-small {
    @apply font-sans text-sm font-normal text-slate-500 opacity-90;
  }
}

